
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #0a0b0e;
text-shadow: #525a75; 
text-shadow: 2px;
font-family: 'Times New Roman', Times, serif;
background-color:rgb(6, 133, 175) ;
padding: 15px;

}

h2{
    text-align: center;
    text-size-adjust: 2px;
}

img{
    border-radius: 65px;
}


p {
    text-align: center;
    color: #333;
}

form, .profile-section, .exam-section {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(15, 156, 222);
    box-shadow: 4px 4px 17px rgba(9, 8, 8, 0.898);
    border-radius: 8px;
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

button {
    width: 200px;
    padding: 10px;
    background-color: #58a878;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    color: #0056b3;
}


nav {
    background-color: #333;
    /*overflow: hidden;*/
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;

    color: white;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #007BFF;
    color: white;
}


